<div class="">
        <div class="col s12">
            <h4>Press Start</h4>
        </div>


    <div class="row">
        <div class="col s1"></div>
        <div class="col s10">
            <img class="img-main-page" src="img/controller-two.png"/>
        </div>
        <div class="col s1"></div>
    </div>

</div>



<a href="/testLogin"> Login</a>
<a href="/testSignup"> Signup</a>